body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    'header header'
    'sidebar content';
}

.container {
    max-width: 1320px;
    margin: auto;
}

.header {
    grid-area: header;
    padding: 10px;
    box-shadow: 0 1px 5px black;
}

.header-body {
    display: flex;
    justify-content: space-between;
}

.header-body__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.header-body__photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(120, 194, 21);
    transition: all 0.5s;
    cursor: pointer;
}

.header-body__profile {
    cursor: pointer;
    color: rgb(120, 194, 21);
    font-weight: 600;
    transition: all 0.5s;
}

.header-body__quit {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(120, 194, 21);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}

.header-body__quit:hover, .header-body__profile:hover, .header-body__photo:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.main {
    grid-area: content;
}

.main-body {
    margin-top: 20px;
    display: flex;
    padding: 10px;
}

.main-body__sec1 {
    flex: 0 1 40%;
    border-right: 2px solid rgb(68, 68, 68);
    padding-right: 15px;
}

.main-body__sec2 {
    flex: 0 1 60%;
    padding-left: 30px;
}

.sec2-title {
    margin-bottom: 40px;
}

.main-body__sec2 > p {
    margin: 30px;
}

.main-body__sec2 > p > b {
    margin-right: 30px;
}

.main-body__item {
    background-color: rgb(120, 194, 21);
    border: 1px solid rgb(68, 68, 68);
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.main-body__item > span {
    display: inline-block;
    color: rgb(68, 68, 68);
    font-weight: 600;
    margin-bottom: 10px;
}

.main-body__filter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 250px;
    border: 2px solid rgb(68, 68, 68);
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
}

.aside {
    display: flex;
    justify-content: center;
    grid-area: sidebar;
    background-color: rgb(120, 194, 21);
    color: rgb(68, 68, 68);
    height: 100vh;
}

.aside-list {
    margin-top: 50px;
}

.aside-list__link {
    position: relative;
    text-align: center;
    list-style-type: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 230px;
}

.triangle {
    position: absolute;
    right: 10px;
    top: 17px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #fff;
}

.aside-sublist {
    display: none;
    background-color: #ddd;
    padding: 5px;
    border-radius: 5px;
}

.aside-sublist__link {
    text-align: center;
    list-style-type: none;
    width: 215px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    color: #fff;
}

.table th {
    font-weight: bold;
    padding: 15px;
    background-color: #444;
    border: 1px solid #dddddd;
}

.table td {
    border: 1px solid #dddddd;
    padding: 15px;
    background-color: rgb(120, 194, 21);
}

.active {
    display: flex;
    justify-content: space-around;
    background-color: rgb(68, 68, 68);
    border-radius: 5px;
    padding: 15px;
}

.active-btn {
    cursor: pointer;
    outline: none;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

.active-btn:hover {
    background-color: rgb(120, 194, 21);
    color: #fff;
}
