@import '~antd/dist/antd.css';

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    'header header'
    'sidebar content';
}

.container {
    max-width: 1320px;
    margin: auto;
}

.header {
    grid-area: header;
    padding: 10px;
    /*background-color: #dcdcde;*/
    /*background-color: #ffffff;*/
    background-color: rgb(120, 194, 21);
    box-shadow: 0 1px 5px black;
}

.header-body {
    display: flex;
    /*justify-content: space-between;*/
}

.header-body__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-left: auto;
}

.header-body__photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*background-color: rgb(120, 194, 21);*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
}

.header-body__profile {
    margin: 10px;
    cursor: pointer;
    color: #ffffff;
    /*color: rgb(120, 194, 21);*/
    font-weight: 600;
    transition: all 0.5s;
}

.header-body__quit {
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(120, 194, 21);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}

.header-body__quit:hover, .header-body__profile:hover, .header-body__photo:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.main {
    grid-area: content;
    /*box-sizing: border-box;*/
    /*padding: 10px;*/
}

.main-body {
    margin-top: 5px;
    display: flex;
}

.main-body__sec1 {
    flex: 0 1 50%;
    border-right: 2px solid rgb(68, 68, 68);
    padding: 15px;

}

.main-body__sec2 {
    flex: 0 1 50%;
    padding-left: 30px;
}

.sec2-title {
    margin-bottom: 40px;
}

.main-body__sec2 > p {
    margin: 30px;
}

.main-body__sec2 > p > b {
    margin-right: 30px;
}

.main-body__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-body__item {
    box-sizing: border-box;
    background-color: rgb(120, 194, 21);
    border: 1px solid rgb(68, 68, 68);
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.main-body__item > span {
    display: inline-block;
    color: rgb(68, 68, 68);
    font-weight: 600;
    /*margin-bottom: 10px;*/
}

.main-body__item:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.main-body__filter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 250px;
    border: 2px solid rgb(68, 68, 68);
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
}

.aside {
    display: flex;
    justify-content: center;
    grid-area: sidebar;
    background-color: rgb(120, 194, 21);
    color: rgb(68, 68, 68);
    height: 100vh;
}

.aside-list {
    margin-top: 50px;
}

.aside-list__link {
    position: relative;
    text-align: center;
    list-style-type: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 230px;
}

.triangle {
    position: absolute;
    right: 10px;
    top: 17px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #fff;
}

.aside-sublist {
    display: none;
    background-color: #ddd;
    padding: 5px;
    border-radius: 5px;
}

.aside-sublist__link {
    text-align: center;
    list-style-type: none;
    width: 215px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    color: #fff;
}

.table th {
    font-weight: bold;
    padding: 15px;
    background-color: #444;
    border: 1px solid #dddddd;
}

.table td {
    border: 1px solid #dddddd;
    padding: 15px;
    background-color: rgb(120, 194, 21);
}

.active {
    display: flex;
    justify-content: space-around;
    background-color: rgb(68, 68, 68);
    border-radius: 5px;
    padding: 15px;
}

.active-btn {
    cursor: pointer;
    outline: none;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

.active-btn:hover {
    background-color: rgb(120, 194, 21);
    color: #fff;
}

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.site-layout-background {
    background: #fff;
}



.code-box-demo {
    text-align: center;
}

.ant-layout-sider {
    color: #fff;
    /*line-height: 120px;*/
    background: rgba(120, 194, 21, .8);
    /*background: #3ba0e9;*/
}

[data-theme="dark"] .ant-layout-sider {
    background: #3499ec;
}

.ant-layout-content {
    min-height: 120px;
    color: #fff;
    line-height: 120px;
    background: rgba(16, 142, 233, 1);
}

[data-theme="dark"] .ant-layout-content {
    background: #107bcb;
}

> .code-box-demo > .ant-layout + .ant-layout {
    margin-top: 48px;
}
